- if @message.persisted?
  :plain
    $('.messages').prepend('#{j(render(partial: 'messages/message', locals: {message: @message}, formats: [:html]))}');
    $('.message_form').replaceWith('#{j(render(partial: 'messages/message_form', locals: {message: Message.new}, formats: [:html]))}');
- else
  :plain
    $('.message_form').replaceWith('#{j(render(partial: 'messages/message_form', locals: {message: @message}, formats: [:html]))}');