= render 'messages/message_form', message: Message.new

%br

= render layout: 'shared/index_layout', locals: {classes: 'messages'} do
  = render @messages
= render 'shared/pagination', objects: @messages