%ul.pricing-table
  - if local_assigns[:show_controls]
    %li.title.text-center
      = render 'shared/control_header', object: content, text: content.name
  - else
    %li.title.text-breaker= content.name

  %li.margined.text-breaker
    = raw content.body

  -#- if cat.title
  -#  %li.description
  -#    %strong Title:
  -#    = cat.title.name

  -#%li.cta-button
  -#  = link_to 'Fotoalbum', gallery_path(cat_id: cat.id), class: 'text-breaker radius button'
