= render layout: 'shared/index_layout' do
  != @welcome_message.body if @welcome_message

  = render @contents

-#%a.twitter-timeline{"data-widget-id" => "538109082583187456", :href => "https://twitter.com/jeyboy1985"} Твиты от @jeyboy1985
-#:javascript
-#  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'http';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

= render 'shared/pagination', objects: @contents