%h1= I18n.locale == :en ? @content.name : @content.ru_name

= render(partial: 'contents/content_body', locals: {content: @content})

- if @content.content_picts.present?
  %hr
  = render partial: 'shared/image_layout', locals: {objects: @content.content_picts}
