.row
  %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
    %li.simple_captcha_field
      = simple_captcha_options[:field]
    %li.simple_captcha_image
      = simple_captcha_options[:image]
    -#.simple_captcha_label
    -#  = simple_captcha_options[:label]