= f.text_area :body, placeholder: 'Page body..', rows: 10, class: 'editor'

:javascript
  $('.editor').editable({
      inlineMode: false,
      //paragraphy: false,
      spellcheck: true,
      //toolbarFixed: false
      //imageUploadParam: ,
      imageUploadURL: '#{cl_upload_url({})}',
      imageUploadParams: #{cl_upload_tag_params({})}
  }).on('editable.imageError', function (e, editor, error) {
      console.log(error);
  });