%hr
.row.actions
  .large-12.medium-12.small-12.columns
    = f.button t('form.proceed'), class: 'button radius'
    - if local_assigns[:has_return]
      = f.button t('form.proceed_and_return'), class: 'button radius', name: 'proceed_and_return'