- persistence = object.try(:persisted?)
= form_for(object, url: (persistence ? [:admin, object] : [:admin, object.class.name.underscore.pluralize]), method: (persistence ? 'put' : 'post')) do |f|
  = render 'shared/errors', object: f.object

  = yield f

  = render partial: 'shared/form_submit', locals: {f: f, has_return: local_assigns[:has_return]}
