= form_for(object, remote: true, html: {class: local_assigns[:classes]}) do |f|
  = render 'shared/errors', object: f.object
  - init_form_fields_mandatory(f)

  = yield f

  = render partial: 'shared/form_submit', locals: {f: f}
