%ul.button-group
  %li= link_to 'en', {locale: 'en'}, class: "first round-bordered button #{'active' if I18n.locale == I18n.default_locale}"
  %li= link_to 'ru', {locale: 'ru'}, class: "last round-bordered button #{'active' if I18n.locale != I18n.default_locale}"

