= render layout: 'shared/form_layout', locals: {object: @title, has_return: true} do |f|
  = render layout: 'shared/form_field', locals: {f: f, name: :name, text: 'Name'} do
    = f.text_field :name, placeholder: 'Name..'
