/*

*/

.flashes {
  padding: 10px 0;
}

.notice {
  background-color: lightgreen;
}

.alert {
  background-color: indianred;
}

#error_explanation {
  text-align: center;
}


ul, li, .alert, .notice, .round-bordered {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.round-bordered {
  border: solid 1px black;
}

.error {
  input, select {
    margin-bottom: 0 !important;
  }
}

li.ico {
  padding: 8px 10px;
}

.simple_captcha_image img {
  padding: 0.25rem;
}

//.no-border {
//  border: none !important;
//}

//.centered {
//  display: table-cell;
//  text-align: center;
//  vertical-align: middle;
//}

