.flashes {
  padding: 10px 0;
}

.notice {
  background-color: lightgreen;
}

.error {
  background-color: indianred;
}


ul, li, .round-bordered {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.round-bordered {
  border: solid 1px black;
}

//.no-border {
//  border: none !important;
//}