/*
 *= require 'chosen'
*/

.pad_top {
  padding-top: 10px;
}

.pad_bottom {
  padding-bottom: 10px;
}

ul, li, .round-bordered {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.round-bordered {
  border: solid 1px black;
}

.error {
  input, select {
    margin-bottom: 0 !important;
  }
}

li.ico {
  padding: 8px 10px;
}

.simple_captcha_image img {
  padding: 0.25rem;
}

.valign {
  vertical-align: middle;
}

.padded-right {
  padding-right: 10px;
}

.no-h-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-h-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

//.no-border {
//  border: none !important;
//}

//.centered {
//  display: table-cell;
//  text-align: center;
//  vertical-align: middle;
//}

