.row
  .large-12.medium-12.small-12.columns
    - @pages.each do |page|
      %ul.pricing-table
        %li.title.text-center
          = render 'shared/control_header', object: page, text: page.name, no_delete_button: true
        %li.bullet-item
          = raw page.body
