.side-nav li:not(.active) a, .highlighted a {
  color: #7A97FE !important;
}

body {
  background-color: #555555;
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
//  body {
//    -webkit-background-size: contain;
//    -moz-background-size: contain;
//    -o-background-size: contain;
//    background-size: contain;
//  }
//}

.content, label, .content h1 {
  color: #fff;
}

ul.highlighted li {
  background-color: #666;
  color: #fff;
}

//body::before {
//  content: '';
//  display: block;
//  top: 0;
//  left: 0;
//  background: image-url('background.jpg') no-repeat center center fixed;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  filter: alpha(opacity=50);
//  opacity: 0.5;
//  z-index: -1;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}