.text-breaker {
  word-wrap: break-word;
  word-break: break-all;
}

.side-nav {
  li.active {
    a, a:hover {
      //    margin-left: 2rem;
      //    list-style-image: url(/assets/ico_small.png) !important;

      background-image: image-url('ico_small.png') !important;
      background-repeat: no-repeat  !important;
      background-position: 0 50%  !important;

      font-weight: bold !important;
      padding-left: 40px !important;
    }
  }
}

